header.header 
		.header__top.top-header 
			.container.top-header__container
				.top-header__logo 
					img(src="img/svg/logo.svg", alt="logo")
				.top-header__selector
					.top-header__lang
						img(src="img/svg/flag.svg", alt="flag").top-header__flag
						.top-header__select Русский / RUB
						img(src="img/svg/arrow.svg", alt="arrow").top-header__arrow
					ul.top-header__options
						li
							a(href="") Русский
						li
							a(href="") English
						li
							a(href="") Français
						li
							a(href="") Italiano
						li
							a(href="") Polski

		.header__bottom.bottom-header 	
			.container.bottom-header__container
				.bottom-header__menu.menu-bottom-header
					.menu-bottom-header__burger 
						span 
						span 
						span 
					ul.menu-bottom-header__list 
						li.menu-bottom-header__item 
							a.menu-bottom-header__link(href="#") 
								|Купить
						li.menu-bottom-header__item 
							a.menu-bottom-header__link(href="#") 
								|Продать
						li.menu-bottom-header__item 
							a.menu-bottom-header__link(href="#") 
								|Майнинг
						li.menu-bottom-header__item 
							a.menu-bottom-header__link(href="#") 
								|Краудфандинг
						li.menu-bottom-header__item.menu-bottom-header__item-hidden 
							a.menu-bottom-header__link(href="#") 
								|Futures robots
						li.menu-bottom-header__item.menu-bottom-header__item-hidden 
							a.menu-bottom-header__link(href="#") 
								|Community
						li.menu-bottom-header__item.menu-bottom-header__item-hidden 
							a.menu-bottom-header__link(href="#") 
								|White Paper
						span.menu-bottom-header__list-points
							span.menu-bottom-header__list-points-inner
								img(src="img/svg/points.svg", alt="alt")
						ul.menu-bottom-header__list-mob 
							li.menu-bottom-header__item-mob 
								a.menu-bottom-header__link(href="#").menu-bottom-header__link-mob 
									|Futures robots
							li.menu-bottom-header__item-mob 
								a.menu-bottom-header__link(href="#").menu-bottom-header__link-mob 
									|Community
							li.menu-bottom-header__item-mob 
								a.menu-bottom-header__link(href="#").menu-bottom-header__link-mob 
									|White Paper

				.bottom-header__btns 
					button.bottom-header__btn.bottom-header__btns-login 
						span Авторизация
					button.bottom-header__btn.bottom-header__btns-signin 
						span Регистрация

