.crowdfunding
	.crowdfunding__container.container 
		.crowdfunding__title Краудфандинг, финансирование для стартапа, значимые проекты и развивайте бизнес вместе с нами!
		.crowdfunding__top.top-crowdfunding
			.top-crowdfunding__items 
				.top-crowdfunding__item 
					.top-crowdfunding__column 
						.top-crowdfunding__icon 
							img(src="img/svg/crowdfunding/11.svg", alt="alt")
						.top-crowdfunding__title.crowdfunding__general-title Помощь в  
							br
							|разрешении проблем
						.top-crowdfunding__text.top-crowdfunding__text1 Работу с дефолтным заемщиком берем на себя до полного возврата займа.
				.top-crowdfunding__item 
					.top-crowdfunding__column 
						.top-crowdfunding__icon 
							img(src="img/svg/crowdfunding/12.svg", alt="alt")
						.top-crowdfunding__title.crowdfunding__general-title Минимизация рисков
						.top-crowdfunding__text.top-crowdfunding__text2 Мы проверяем потенциальных заемщиков с помощью скоринговой.
				.top-crowdfunding__item 
					.top-crowdfunding__column 
						.top-crowdfunding__icon 
							img(src="img/svg/crowdfunding/13.svg", alt="alt")
						.top-crowdfunding__title.crowdfunding__general-title Гарантия дохода
						.top-crowdfunding__text.top-crowdfunding__text3 Обеспечиваем доход инвестора с первого месяца, контролируя возорат тела долга и выплаты процентов.
				.top-crowdfunding__item 
					.top-crowdfunding__column 
						.top-crowdfunding__icon 
							img(src="img/svg/crowdfunding/14.svg", alt="alt")
						.top-crowdfunding__title.crowdfunding__general-title Официальное 
							br
							|оформление
						.top-crowdfunding__text.top-crowdfunding__text4 Контролируем заключение сделки в электронной форме. Сделка заключается в форме присоединения сторон к общим условиям договора займа.
		.middle-crowdfunding-wrapper
			.middle-crowdfunding__link-wrapper
				a.middle-crowdfunding__link.general-link(href="") Подробнее
			.crowdfunding__middle.middle-crowdfunding
				.middle-crowdfunding__left
					.middle-crowdfunding__left--items
						.middle-crowdfunding__left--item
							.middle-crowdfunding__left--icon
								img(src="img/svg/crowdfunding/211.svg", alt="alt")
							.middle-crowdfunding__left--title.crowdfunding__general-title Физические лица
						.middle-crowdfunding__left--item
							.middle-crowdfunding__left--icon
								img(src="img/svg/crowdfunding/212.svg", alt="alt")
							.middle-crowdfunding__left--title.crowdfunding__general-title Юридические лица
				.middle-crowdfunding__circle-big-wrapper
					.middle-crowdfunding__circle-big
						.middle-crowdfunding__circle-outer.circle
						.middle-crowdfunding__circle-middle.circle
						.middle-crowdfunding__circle-inner.circle
						.middle-crowdfunding__arrow-right.arrow-crowdfunding 
							span КРЕДИТЫ
						.middle-crowdfunding__arrow-left.arrow-crowdfunding 
							span ВОЗВРАТ +%
						
				.middle-crowdfunding__right
					.middle-crowdfunding__right--icons
						.middle-crowdfunding__right--icon
							img(src="img/svg/crowdfunding/231.svg", alt="alt")
						.middle-crowdfunding__right--icon
							img(src="img/svg/crowdfunding/232.svg", alt="alt")
						.middle-crowdfunding__right--icon
							img(src="img/svg/crowdfunding/233.svg", alt="alt")
						.middle-crowdfunding__right--icon
							img(src="img/svg/crowdfunding/234.svg", alt="alt")
		.crowdfunding__bottom.bottom-crowdfunding
			.bottom-crowdfunding__items 
				.bottom-crowdfunding__item.bottom-crowdfunding__item1 
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__icon 1
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__title.crowdfunding__general-title Оценка компании
				.bottom-crowdfunding__item.bottom-crowdfunding__item2 
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__icon 2
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__title.crowdfunding__general-title Верификация
				.bottom-crowdfunding__item.bottom-crowdfunding__item3 
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__icon 3
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__title.crowdfunding__general-title Сбор средств
				.bottom-crowdfunding__item.bottom-crowdfunding__item4 
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__icon 4
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__title.crowdfunding__general-title Перечисление кредита компании
				.bottom-crowdfunding__item.bottom-crowdfunding__item5 
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__icon 5
					.bottom-crowdfunding__item-wrapper
						.bottom-crowdfunding__title.crowdfunding__general-title 
							|Возврат 
							br
							|процентного дохода 
							br
							|кредиторам