.develop
	.develop__container.container 
		.develop__row 
			.develop__img 

			.develop__body 
				.develop__title.general-title
					|Разработка Akra Wallet v1 для всех 
					br
					|пользователей.*
				.develop__text.general-text
					|Akra Wallet v1 будет способен принять фиатные деньги от 
					br
					|любого физического или юридического лица, любой страны и 
					br
					|любой валюты. Тем самым он открывает доступ к 
					br
					|криптовалюте любому лицу.*
				a.develop__link.general-link(href="") Подробнее
	.develop__block 
		.develop__block--container 
			.develop__block--title.general-title 
				|Законно и доступно на 
				br
				|территории Российской 
				br
				|Федерации и других стран.
			.develop__block--text.general-text 
				|Отношения между поставщиком и покупателем 
				br
				|регулируются Федеральным законом
				br
				| "О цифровых финансовых активах, цифровой валюте 
				br
				|и о внесении изменений в отдельные законодательные 
				br
				|акты Российской Федерации" от 31.07.2020 N 259-ФЗ 
