.presale
	.presale__container.container 
		.presale__title.general-title Предпродажа криптовалюты Akra
		.presale__text.general-text 
			|Участники продажи могут выбрать покупку токенов 
			br
			|Akra между различными 
			br
			|вариантами, указанными ниже. Варианты можно 
			br
			|комбинировать. Доступные 
			br
			|распределения будут следующими
		.presale__items 
			.presale__item 
				.presale__card
					.presale__card-title Сообщество
					.presale__card-top Старт: 01.12.2022 19:00 UTC до 
						br
						|04.12.2022 00:00 UTC
					.presale__card-center Лимит покупки: от 100$ до 1000$
					.presale__card-bottom Блокировка: 360 дней, 
						br
						|%от общего предложения: 7.5%, 
						br
						|Количество токенов: 75 млн., Цена за 
						br
						|токен: 0.20$
					button.presale__card-btn
						span Купить
			.presale__item 
				.presale__card
					.presale__card-title Раунд 2
					.presale__card-top Старт: 02.12.2022 17:00 UTC до 
						br
						|04.12.2022 00:00 UTC
					.presale__card-center Лимит покупки: от 20,000$ до 200,000$
					.presale__card-bottom Блокировка: 180 дней, 
						br
						|%от общего предложения: 4%, 
						br
						|Количество токенов: 40 млн., Цена за 
						br
						|токен: 0.29$
					button.presale__card-btn
						span Купить
			.presale__item 
				.presale__card
					.presale__card-title Тур 3
					.presale__card-top Старт: 02.12.2022 20:00 UTC до 
						br
						|04.12.2022 00:00 UTC
					.presale__card-center Лимит покупки: от 100$ до 2,000$
					.presale__card-bottom Блокировка: 40 дней, 
						br
						|%от общего предложения: 3.5%, 
						br
						|Количество токенов: 35 млн., Цена за 
						br
						|токен: 0.35$
					button.presale__card-btn
						span Купить