.hero
	.hero__container.container 
		.hero__left 
			.hero__title 
				|Криптовалюта 
				span AKRA 
				br
				|платежная система
			.hero__subtitle Криптовалюта Akra платежная система для физических и юридических лиц всего мира*
			.hero__left--img 
				img(src="img/svg/hero/Akra.svg", alt="Akra")
		.hero__right 
			.hero__right--images
				img(src="img/svg/hero/2.svg", alt="alt")
				img(src="img/svg/hero/1.svg", alt="alt")

