extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.buy-page
				.buy-page__hero.hero-buy-page
					.hero-buy-page__container.container 
						.hero-buy-page__body.general-row 
							.hero-buy-page__body--left
								h1 Криптовалюта 
									span AKRA
									|— покупать легко и просто 
								p.hero-buy-page__body--text-desktop Механизм покупки токенов AKRA максимально упрощён для физических лиц и компаний со всего мира. Чтобы заключить сделку, потребуется только наш электронный кошелёк Akra Wallet v1. Платежи принимаются с банковских карт, криптовалютой, с расчётных счетов, включая инвойсы, с предоставлением стандартного набора закрывающих документов.
							.hero-buy-page__img 
								img(src="img/pages/buy-page/1.png", alt="alt")
							p.hero-buy-page__body--text-mobile Механизм покупки токенов AKRA максимально упрощён для физических лиц и компаний со всего мира. Чтобы заключить сделку, потребуется только наш электронный кошелёк Akra Wallet v1. Платежи принимаются с банковских карт, криптовалютой, с расчётных счетов, включая инвойсы, с предоставлением стандартного набора закрывающих документов.
				.buy-page__easy.easy-buy-page
					.easy-buy-page__container.container
						h2 Почему покупать токены теперь просто?
						p Все сделки с токенами будут заключаться от лица компании, которая зарегистрирована на Бермудских островах. Почему именно Бермуды? Причин выбрать эту страну немало. Одна из них — это лояльное налоговое законодательство: на островах нет налога на прибыль, НДС, налога на прирост капитала.
						p Дополнительно государство обеспечивает отсутствие валютного контроля с упрощённой процедурой регистрации компании. Все это снижает финансовые издержки, которые так или иначе возлагаются на плечи участников криптовалютного проекта, конечного потребителя.
						p Но и это не самое главное.
						.easy-buy-page__reference
							.easy-buy-page__reference--left 
								img(src="img/pages/buy-page/icon.svg", alt="alt")
							.easy-buy-page__reference--right 
								.easy-buy-page__reference--title Справка
								.easy-buy-page__reference--text Бермудские острова — это Силиконовая долина в мире криптовалют. В 2018 году власти страны приняли законы об 
									span ICO 
									|и DABA, а также заключили с крупнейшей криптовалютной биржей в мире 
									span Binance 
									|меморандум о сотрудничестве. Фактически Бермуды одними из первых признали криптовалюту как платёжное средство, принимая в ней налоговые платежи. Параллельно на высшем уровне организована поддержка занимающихся криптовалютами компаний во всех своих финансовых и правовых институтах.
						p Регистрация компании на Бермудских островах наделяет токены AKRA следующими качествами:
						.easy-buy-page__items 
							.easy-buy-page__item 
								.easy-buy-page__column 
									.easy-buy-page__icon 
										img(src="img/pages/buy-page/1.svg", alt="alt")
									.easy-buy-page__text Поддержка всех принятых в мире способов оплаты за токены с участием криптовалюты и фиатных денег различных государств.
							.easy-buy-page__item 
								.easy-buy-page__column 
									.easy-buy-page__icon 
										img(src="img/pages/buy-page/2.svg", alt="alt")
									.easy-buy-page__text Включение механизма продажи токена в мировую инфраструктуру — бермудские компании могут работать с контрагентами со всего мира.
							.easy-buy-page__item 
								.easy-buy-page__column 
									.easy-buy-page__icon 
										img(src="img/pages/buy-page/3.svg", alt="alt")
									.easy-buy-page__text Нулевая налоговая ставка даёт возможность покупать токены за реальную цену без налогового бремени, которое продавцы всегда перекладывают на покупателей.
							.easy-buy-page__item 
								.easy-buy-page__column 
									.easy-buy-page__icon 
										img(src="img/pages/buy-page/4.svg", alt="alt")
									.easy-buy-page__text Поддержка криптовалюты на государственном уровне, что делает её действительно надёжным капиталовложением.
						p Купить токен AKRA гораздо проще, чем любую ценную бумагу. При этом его функциональность несравненно выше, а характерные для поддерживающих стейкинг криптовалют особенности позволяют зарабатывать на AKRA, просто храня токены в кошельке.

		include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
