extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.docs
				.docs__container.container 
					h1 Документы
					.docs__items 
						.docs__row
							.docs__item
								.docs__column 
									.docs__subtitle Перечень изменений в Правила пользования инвестиционной платформой
									.docs__span pdf, 138,28 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Правила инвестиционной платформы
									.docs__span pdf, 736,18 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Правила инвестиционной платформы в режиме правок от 06.07.2021
									.docs__span pdf, 138,28 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Политика по обработке персональных данных (конфиденциальности)
									.docs__span pdf, 121,88 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Роскомнадзор — реестр операторов
									.docs__span pdf, 81,14 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Договор поручительства
									.docs__span pdf, 282,75 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Квалификация инвесторов
									.docs__span pdf, 123,61 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Ответ ЦБ по лимиту для неквалифицированных инвесторов
									.docs__span pdf, 136,65 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Действия при неисполнении обязательств заемщиком
									.docs__span pdf, 87,57 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Декларация о рисках
									.docs__span pdf, 105,01 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Выписка из реестра операторов инвестиционных платформ
									.docs__span pdf, 98,22 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать
							.docs__item
								.docs__column 
									.docs__subtitle Агентский договор
									.docs__span pdf, 161,52 
										br
										|КБ
									.docs__btns 
										button.docs__btn.docs__btn-open Открыть
										button.docs__btn.docs__btn-download Скачать

		include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
