extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.program 
				.program__container.container 
					.program__hero 
						.program__hero--left
							h1 Реферальная программа AKRA
							p Откройте для себя новый способ заработка криптовалюты без участия в проектах – просто пригласите друзей стать членами сообщества AKRA. Приглашайте друзей и зарабатывайте криптовалюту вместе с ними!
						.program__hero--img 
							img(src="img/pages/program/1.svg", alt="alt")
					.program__rools
						h2 Правила реферальной программы 
						p За каждого нового привлеченного пользователя, успешно зарегистрировавшегося на AKRA, реферер будет получать выплаты каждый раз, когда привлеченный пользователь пользуется сервисами AKRA. Это означает, что теперь вы можете беспрепятственно приглашать пользователей либо по реферальной ссылке и получать комиссионные. Кроме того, когда ваши друзья регистрируются по вашей реферальной ссылке, вы можете предоставить им скидку на комиссии платформы.
						p 
							span Пример: 
							|Пользователь A приглашает пользователя Б через реферальную ссылку. Пользователь A теперь получает реферальные выплаты с комиссий платформы AKRA пользователя Б всякий раз, когда тот пользуется сервисами AKRA.
					.program__table-wrapper
						table 
							thead 
								tr 
									th Среднесуточный 
										br
										|баланс AKRA 
										br
										|приглашающего
									th Базовая 
										br
										|реферальная 
										br
										|ставка 
										br
										|приглашающего
									th Ставка, 
										br
										|полученная 
										br
										|приглашающим
									th Ставка скидки 
										br
										|(вознаграждения) 
										br
										|для ваших друзей 
										br
										|в первый месяц 
										br
										|Реферальный кешбэк
							tbody 
								tr 
									td < 100 000 AKRA
									td 60%
									td 30%
									td 10%
								tr 
									td ≥ 100 000 AKRA
									td 90%
									td 45%
									td 10%
					.program__referral
						h2 Реферальный Сейкинг 
						p За каждого приведенного пользователя, реферер становиться валидатором Proof of Stake, реферер начисляется реферальный стейкинг AKRA, реферер добавляется в pool Proof of Stake с количеством 8,8 AKRA под ≈ 15% за 30 дней.

		include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
