extends ../layouts/default

block variables
	- const title = "AKRA";

block content
	.wrapper
		include ../../blocks/modules/header/header
		.page 
			.wallet
				.hero-wallet
					.hero-wallet__container.container.general-row 
						.hero-wallet__body 
							h1 Всё о криптовалютном кошельке Akra Wallet v1
							p.hero-wallet__text-desktop Первая версия собственного криптовалютного кошелька Akra Wallet v1 уже ждёт своих пользователей. Веб-кошелёк обладает всем требуемым для комфортных операций с токеном AKRA функционалом и одновременно является личным кабинетом инвестора. Расскажем, что представляет собой кошелёк Akra Wallet v1 и как им пользоваться.
						.hero-wallet__img 
							img(src="img/pages/wallet/1.png", alt="alt")
						p.hero-wallet__text-mobile Первая версия собственного криптовалютного кошелька Akra Wallet v1 уже ждёт своих пользователей. Веб-кошелёк обладает всем требуемым для комфортных операций с токеном AKRA функционалом и одновременно является личным кабинетом инвестора. Расскажем, что представляет собой кошелёк Akra Wallet v1 и как им пользоваться.
				.wallet-whatis 
					.wallet-whatis__container.container
						h2 Что такое криптовалютный кошелёк
						.wallet-whatis__body.general-row
							.wallet-whatis__img 
								img(src="img/pages/wallet/2.png", alt="alt")
							p Для хранения криптовалют и операций с ними необходимы криптовалютные кошельки — программы или аппаратные платформы, обеспечивающие взаимодействие с блокчейном. Почему с ним, а не напрямую с криптовалютой? Все токены размещены в блокчейне, а кошелёк даёт пользователю возможность управлять блокчейном в пределах доступных ему токенов.
						p Для идентификации пользователя и трансляции сведений 
							br
							|о находящемся в его распоряжении количестве токенов 
							br
							|каждый криптокошелёк имеет два ключа:
						.wallet-whatis__items 
							.wallet-whatis__row 
								.wallet-whatis__item 
									.wallet-whatis__icon 1
									.wallet-whatis__title Открытый ключ (идентификатор)
									.wallet-whatis__text Это адрес в блокчейн-сети, который известен всем участникам экосистемы. Он нужен для приёма, передачи, конвертации криптовалюты — в общем, для любых операций с ней.
								.wallet-whatis__item 
									.wallet-whatis__icon 2
									.wallet-whatis__title Закрытый (приватный) ключ
									.wallet-whatis__text Его функция — подтверждение транзакций. Если упрощённо — это пароль, который вводит пользователь при операциях с криптовалютой.
								.wallet-whatis__item-big 
									.wallet-whatis__icon-big ?
									.wallet-whatis__text Криптографические ключи — это длинные цепочки символов. Тот, кто ими владеет, может неограниченно оперировать токенами в пределах доступного ему баланса.
							p Условно все криптокошельки делятся на две большие группы: мультивалютные и работающие только с одной криптовалютой.
						.wallet-whatis__type.type-wallet-whatis 
							p Следующая категория группировки криптовалютных кошельков — это их вид:
							h2 Веб-кошельки
							p Они размещаются на сайтах и дают пользователям доступ к криптовалютам с любого устройства — нужен только логин (им часто служит открытый ключ) и пароль.
							h2 Программные кошельки
							p Они делятся на десктопные и мобильные: для компьютеров и мобильных устройств соответственно. Программные кошельки — специальная программа для установки на устройство и управления криптовалютой.
							h2 Биржевые кошельки
							p Их предоставляют пользователям криптовалютные биржи. Отдалённо напоминают веб-криптокошельки, но они мультивалютные и более функциональные. Хотя тем обладателям токенов, кто не собирается торговать на биржах, большинство опций ни к чему.
							h2 Аппаратные кошельки
							p Это подключаемые к ПК или напрямую к сети криптохранилища с собственным ПО. Поддерживают операции с криптовалютами при подключении к компьютеру или из собственного меню.
							.type-wallet-whatis__fact 
								.type-wallet-whatis__fact--title Интересный факт
								.type-wallet-whatis__fact--text Есть и экзотичные варианты криптокошельков наподобие распечатанного на бумаге открытого ключа, в том числе зашифрованного в QR-коде, а также браузерных расширений и биржевых депозитариев.
		
							.type-wallet-whatis__items 
								p Кошельки для криптовалют бывают «холодными» и «горячими»:
								.type-wallet-whatis__row
									.type-wallet-whatis__item
										.type-wallet-whatis__item--title «Холодные» криптокошельки 
										.type-wallet-whatis__item--text нужны для оффлайн-хранения криптовалютных средств — это аппаратные и часть программных кошельков
									.type-wallet-whatis__item
										.type-wallet-whatis__item--title «Горячие» криптокошельки 
										.type-wallet-whatis__item--text постоянно подключены к интернету и идеальны для временного хранения или постоянного использования криптовалюты; к ним относятся мобильные приложения, биржевые и веб-кошельки
							p Кошелёк Akra Wallet v1 — мультивалютный, поскольку поддерживает не только токены AKRA, но и другие типы криптовалют и даже фиатные валюты. Это веб-кошелёк «горячего» типа с хранящимся на сервисе открытым ключом и несколькими уровнями защиты.
				.wallet-function 
					.wallet-function__container.container 
						.wallet-function__body.general-row 
							.wallet-function__body--left 
								h2 Функции криптовалютного кошелька Akra Wallet v1
								p.wallet-function__body--text-desktop Веб-кошелёк Akra Wallet v1 встроен в личный кабинет нашей платформы и обладает дружелюбным интуитивно-понятным интерфейсом. Его функциональности достаточно для поддержки всех видов операций с криптовалютой:
							.wallet-function__img 
								img(src="img/pages/wallet/3.png", alt="alt")
							p.wallet-function__body--text-mobile Веб-кошелёк Akra Wallet v1 встроен в личный кабинет нашей платформы и обладает дружелюбным интуитивно-понятным интерфейсом. Его функциональности достаточно для поддержки всех видов операций с криптовалютой:
						.wallet-function__items 
							.wallet-function__row 
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/1.svg", alt="alt")
									.wallet-function__item--title Приём криптовалютных средств
									.wallet-function__item--text (BTC, LTC, DOGE, ETH, DASH) и фиатных валют с их конвертацией в криптовалюту по кросс-курсу. Фиатные средства принимаются от физических и юридических лиц через платёжный шлюз-банковскую карту и банковскими переводами на расчётный счёт.
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/2.svg", alt="alt")
									.wallet-function__item--title Обмен криптовалюты
									.wallet-function__item--text Пользователи могут поменять токены или фиатные валюты на криптовалютные средства. Параллельно поддерживается конвертация токена AKRA из экосистемы Ethereum в умную цепочку Binance Smart Chain через блокчейн-мост.
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/3.svg", alt="alt")
									.wallet-function__item--title Перевод криптовалюты
									.wallet-function__item--text Максимально упрощённый и адаптированный под пользователя интерфейс избавляет от необходимости сложной настройки транзакций с расчётом комиссий. Для перевода нужно указать кошелёк получателя и сумму транзакции.
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/4.svg", alt="alt")
									.wallet-function__item--title Вывод средств
									.wallet-function__item--text Средства выводятся фиатными деньгами на расчётный счёт без комиссии или через платёжный шлюз. Доступен вывод баланса на внешние кошельки криптовалют Bitcoin, Litecoin, Dogecoin, Ethereum и Dash.
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/5.svg", alt="alt")
									.wallet-function__item--title Pre-Sales токена
									.wallet-function__item--text Предварительная продажа до выхода криптовалюты на ICO даёт инвесторам возможность купить криптовалюту дешевле, чем после официального старта.
								.wallet-function__item 
									.wallet-function__item--icon 
										img(src="img/pages/wallet/6.svg", alt="alt")
									.wallet-function__item--title Стейкинг токена AKRA
									.wallet-function__item--text Это хранение токенов на кошельке, приносящее их обладателю доход. AKRA использует алгоритм Proof of Stake (PoS), в котором новые блоки открываются не майнингом, а стейкингом. Простое хранение большого количества токенов в кошельке делает пользователя валидатором (это аналог майнера в PoS).
							p Это базовые функции криптовалютного кошелька Akra Wallet v1, интегрированные в Dashboard личного кабинета инвестора. С выходом новых версий функциональность криптовалютного кошелька будет расширяться, в том числе на основе обратной связи от держателей токена.
				.wallet-work 
					.wallet-work__container.container 
						.wallet-work__body.general-row 
							.wallet-work__img 
								img(src="img/pages/wallet/4.png", alt="alt") 
							.wallet-work__body--left 
								h2 Как работает Akra Wallet v1
								p.wallet-work__text-desktop При разработке интерфейса криптокошелька Akra Wallet v1 сделана ставка на его эргономичность и лёгкость понимания для пользователей, далёких от мира криптовалют:
							p.wallet-work__text-mobile При разработке интерфейса криптокошелька Akra Wallet v1 сделана ставка на его эргономичность и лёгкость понимания для пользователей, далёких от мира криптовалют:
						.wallet-work__items 
							.wallet-work__row 
								.wallet-work__item 
									.wallet-work__column 
										.wallet-work__icon 1
										.wallet-work__text Открытый и закрытый ключи хранятся на серверах, пользователю не нужно их запоминать для совершения транзакций.
								.wallet-work__item 
									.wallet-work__column 
										.wallet-work__icon 2
										.wallet-work__text Процедура регистрации автоматическая и выполнятся при создании личного кабинета инвестора.
								.wallet-work__item 
									.wallet-work__column 
										.wallet-work__icon 3
										.wallet-work__text Двухступенчатая авторизация через подтверждение входа в кабинет по коду из СМС или через электронную почту повышает уровень безопасности аккаунта — даже если данные будут скомпрометированы, без доступа к телефону или e-mail  войти в учётную запись не удастся.
								.wallet-work__item 
									.wallet-work__column 
										.wallet-work__icon 4
										.wallet-work__text Доступ к счетам, криптовалютному кошельку и операциям с ним осуществляется на вкладке «Баланс» личного кабинета.

						p Криптокошелек web Akra Wallet v1 — комбинированная платёжная система с поддержкой криптовалют и фиатных платежей. Он доступен физическим и юридическим лицам, за счёт интеграции и тонкой настройки работы всех платёжных механизмов прост в использовании и понятен даже новичкам в мире криптовалют и инвестирования.





		include ../../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")
