.bridges-page {
	p {
		text-align: left;
		@media (max-width: 63.9375rem){
			max-width: 100%!important;
		}
	}
}
.general-row {
	display: flex;
	justify-content: space-between;
	@media (max-width: 63.9375rem){
		flex-direction: column;
		align-items: center;
	}
}

.hero-bridges-page {
	&__container {}
	&__row {
		padding-top: 3.75rem;
		display: flex;
		justify-content: space-between;
		@media (max-width: 63.9375rem){
			flex-direction: column;
			align-items: center;
		}
			@media (max-width: 47.9375rem) {
				padding-top: 1rem;
			}
		@media (max-width: 29.9375rem) {
			padding-top: 0rem;
		}
		h1 {
			display: block;
			width: 31.25rem;
			margin-top: 3.75rem;
			@media (max-width: 63.9375rem){
				margin-top: 0;
				text-align: center;
			}
			@media (max-width: 47.9375rem){
				width: 28.125rem;
			}
			@media (max-width: 29.9375rem){
				width: 18.75rem;
			}
			span {
				&:first-child{
					color: #627EEA;
				}
				&:last-child{
					color: #EEB909;
				}
			}
		}
	}

	&__img {
		margin-right: 4.6875rem;
		position: relative;
		&::before{
			content:'';
			position: absolute;
			z-index: -1;
			top: -3.75rem;
			left: -9rem;
			width: 41.875rem;
			height: 24.9375rem;
			background: url('../img/pages/bridges-page/back1.svg') 0 0 / 100% 100% no-repeat;
			@media (max-width: 89.9375rem){
				width: 31.25rem;
				height: 18.75rem;
				left: -7.5rem;
			}
			@media (max-width: 47.9375rem){
				width: 30rem;
			}
			@media (max-width: 29.9375rem){
				width: 18.75rem;
				height: 12.5rem;
				top: -2.5rem;
				left: -4.375rem;
			}
		}
		@media (max-width: 89.9375rem){
			margin-top: 2.75rem;
		}
		@media (max-width: 63.9375rem){
			margin-top: 4.1875rem;
			margin-right: 0;
		}
		@media (max-width: 47.9375rem){
			margin-top: 3.8125rem;
		}
		@media (max-width: 29.9375rem){
			margin-top: 2.125rem;
		}
		img {
			width: 25.0625rem;
			height: 16rem;
			@media (max-width: 89.9375rem){
				width: 16.5625rem;
				height: 10.5625rem;
			}
			@media (max-width: 29.9375rem){
				width: 11rem;
				height: 7rem;
			}
		}
	}
	p {
		margin-top: 6.8125rem;
		@media (max-width: 119.9375rem){
			margin-top: 10.6875rem;
		}
		@media (max-width: 63.9375rem){
			margin-top: 4.1875rem;
		}
		@media (max-width: 47.9375rem){
			margin-top: 3.8125rem;
		}
		@media (max-width: 29.9375rem){
			margin-top: 2.25rem;
		}
	}
}

.whatis-bridges-page {
	margin-top: 3.5rem;
	@media (max-width: 89.9375rem){
		margin-top: 3.75rem;
	}
	@media (max-width: 29.9375rem){
		margin-top: 1.5rem;
	}
	&__container {}

	h2 {
		width: 100%;
		justify-content: center;
	}
	&__text-img1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.5rem;
		@media (max-width: 29.9375rem){
			margin-bottom: 0.875rem;
		}
		p {
			max-width: 35.625rem;
			margin-top: 3.1875rem;
			@media (max-width: 89.9375rem){
				margin-right: -1.375rem;
			}
			@media (max-width: 63.9375rem){
				margin-right: 0;
			}
			@media (max-width: 29.9375rem){
				margin-top: 3.75rem;
			}
		}
	}

	&__img1 {
		margin-top: 2.5rem;
		margin-left: 12.25rem;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -3.125rem;
			left: -12.75rem;
			width: 37.5rem;
			height: 22.5rem;
			background: url('../img/pages/bridges-page/back2.svg') 0 0 / 100% 100% no-repeat;
			@media (max-width: 89.9375rem) {
				width: 23.75rem;
				height: 16.875rem;
				left: -7.5rem;
			}
			@media (max-width: 47.9375rem) {
				width: 15.625rem;
				left: -3.75rem;
			}
			@media (max-width: 29.9375rem) {
				width: 11.5rem;
				height: 12.5rem;
				top: -2.5rem;
				left: -2.5rem;
			}
		}
		@media (max-width: 89.9375rem){
			margin-top: 4.75rem;
			margin-left: 8.875rem;
			img {
				width: 9.375rem;
				height: 11.6875rem;
			}
		}
		@media (max-width: 63.9375rem) {
			margin-left: 0;
		}
		@media (max-width: 29.9375rem){
			margin-top: 3rem;
			margin-bottom: 0;
			img {
				width: 6.25rem;
				height: 7.75rem;
			}
		}
	}
	&__items {
		display: flex;
		justify-content: center;
	}
	&__row {
		margin-top: 5rem;
		margin-bottom: 4.3125rem;
		display: flex;
		justify-content: space-between;
		@media (max-width: 89.9375rem){
			width: 35.625rem;
			flex-wrap: wrap;
			row-gap: 1.875rem;
		}
		@media (max-width: 47.9375rem){
			justify-content: center;
		}
		@media (max-width: 29.9375rem){
			margin-top: 2.125rem;
			margin-bottom: 0.875rem;
			row-gap: 0.625rem;
		}
	}

	&__item {
		flex: 0 1 16.875rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 29.9375rem){
			flex: 0 1 11.25rem;
		}

		@include ie(){
			@media (max-width: 89.9375rem){
				margin-bottom: 1.875rem;
			}
			@media (max-width: 29.9375rem){
				margin-bottom: 0.625rem;
			}
		}
	}

	&__num {
		width: 6.25rem;
		height: 6.25rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 4rem;
		line-height: 4.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		background: #00DBC8;
		border-radius: 50%;
		box-shadow: 0 0 2.5rem #00DBC8;
		@media (max-width: 29.9375rem){
			width: 4.125rem;
			height: 4.125rem;
			font-size: 2.625rem;
			line-height: 3.1875rem;
		}
	}

	&__text {
		margin-top: 0.9375rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.188rem;
		text-align: center;
		color: #F4F6F8;
		@media (max-width: 47.9375rem){
			font-size: 0.875rem;
			line-height: 1.059rem;
		}
		@media (max-width: 29.9375rem){
			margin-top: 0.625rem;
			font-size: 0.625rem;
			line-height: 0.75rem;
		}

		@include ie(){
			align-self: stretch;
		}
	}

	&__text-img2 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.875rem;
		@media (max-width: 47.9375rem){
			margin-bottom: 1.5rem;
		}
		p {
			max-width: 31.25rem;
			margin-top: 3.75rem;
			@media (max-width: 63.9375rem){
				order: 2;
			}
		}
	}

	&__img2 {
		margin-top: 1.875rem;
		margin-right: 12.375rem;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -2.5rem;
			left: -12.75rem;
			width: 39.9375rem;
			height: 23.4375rem;
			background: url('../img/pages/bridges-page/back3.svg') 0 0 / 100% 100% no-repeat;

			@media (max-width: 89.9375rem) {
				width: 31.25rem;
				height: 24.375rem;
				top: -3.5625rem;
				left: -8.5rem;
			}

			@media (max-width: 47.9375rem) {
				width: 30.8125rem;
				height: 24rem;
				top: -2.75rem;
				left: -8rem;
			}

			@media (max-width: 29.9375rem) {
				width: 20rem;
				height: 17.0625rem;
				top: -2.5rem;
				left: -5.4375rem;
			}
		}
		@media (max-width: 119.9375rem){
			margin-right: 13.375rem;
		}
		@media (max-width: 89.9375rem){
			margin-right: 2.8125rem;
		}
		@media (max-width: 63.9375rem){
			margin-right: 0;
			order: 1;
		}
		img {
			width: 100%;
			height: 100%;
			@media (max-width: 29.9375rem){
				width: 11.25rem;
				height: 10.875rem;
			}
		}
	}
}

.cards-bridges-page {
	margin-top: 3.75rem;
	&__container {
		@media (max-width: 63.9375rem){
			padding: 0!important;
		}
	}
	h3 {
		width: 58.75rem;
		max-width: 100%;
		font-size: 2rem;
		line-height: 2.375rem;
		text-align: center;
		margin: 0 auto;
		@media (max-width: 63.9375rem){
			display: none;
		}
	}
	p {
		@media (max-width: 63.9375rem){
			padding: 0 1.875rem;
		}
		@media (max-width: 47.9375rem){
			padding: 0 0.9375rem;
		}
		@media (max-width: 29.9375rem){

			padding: 0 0.625rem;
		}
		&:last-child{
			margin-top: 3.75rem;
			@media (max-width: 63.9375rem){
				margin-top: 1.5rem;
			}
			@media (max-width: 29.9375rem){
				margin-top: 0.875rem;
			}
		}
	}

	&__items {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 3.75rem -1.875rem;
		row-gap: 1.875rem;
		@media (max-width: 89.9375rem){
			margin: 3.75rem 0;
		}
		@media (max-width: 47.9375rem){
			row-gap: 0.875rem;
			margin: 2.25rem 0;
		}
	}

	&__item {
		padding: 0 0.9375rem;
		flex: 0 1 33.333%;
		@media (max-width: 63.9375rem){
			padding: 0 0.25rem;
			flex: 0 1 45%;
		}

		@include ie(){
			@media (min-width: 63.938rem){
				padding: 0.9375rem;
			}
			@media (max-width: 63.9375rem){
				padding: 0.9375rem 0.25rem;
			}
			@media (max-width: 47.9375rem){
				padding: 0.4375rem 0.25rem;
				flex: 1 1 100%;
			}
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 0.5rem solid #F4F6F8;
		border-radius: 1.875rem;
		height: 100%;
		padding: 1.1875rem 0.5rem 0.5rem;
		max-width: 100%;
		@media (max-width: 89.9375rem){
			width: 23.125rem;
		}
		@media (max-width: 63.9375rem){
			width: 21.875rem;
		}
		@media (max-width: 47.9375rem){
			border: 0.25rem solid #F4F6F8;

			@include ie(){
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (max-width: 29.9375rem){
			width: 14.5625rem;
			height: 13.9375rem;
			padding: 0.25rem 0.25rem 1.0625rem;
			border: 0.1875rem solid #F4F6F8;
		}
	}

	&__icon {
		width: 4rem;
		height: 4rem;
		img {
			width: 100%;
			height: 100%;
		}
		@media (max-width: 29.9375rem){
			width: 2.625rem;
			height: 2.625rem;
		}
	}

	&__title {
		width: 15.625rem;
		margin-top: 0.625rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.8125rem;
		display: flex;
		align-items: center;
		text-align: center;
		color: #F4F6F8;
		@media (max-width: 29.9375rem){
			margin-top: 0.5rem;
			width: 10.375rem;
			font-size: 1rem;
			line-height: 1.1875rem;
		}

	}

	&__text {
		margin-top: 1rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.1875rem;
		display: flex;
		align-items: center;
		text-align: center;

		color: #F4F6F8;
		@media (max-width: 29.9375rem){
			margin-top: 0.625rem;
			font-size: 0.625rem;
			line-height: 0.75rem;
		}
		&-smaller {
			font-size: 0.875rem;
			line-height: 0.9375rem;
			@media (max-width: 29.9375rem){
				font-size: 0.5625rem;
				line-height: 105.02%;
			}
		}

		@include ie(){
			align-self: stretch;
		}
	}
}

.bridges-page__type {}

.type-bridges-page {
	margin-top: 3.75rem;

	h2 {
		color: #EEB909;
		text-align: left !important;
		margin: 0 !important;
	}
	p {
		&:nth-child(1) {
			margin-top: 1.5rem;
		}
	}
	&__container {
		>h2 {
			text-align: center !important;
			margin: 0 auto !important;
			width: 58.75rem;
			max-width: 100%;
		}
	}
	&__binance {
		margin-top: 3.75rem;
		@media (max-width: 63.9375rem){
			margin-top: 2.25rem;
		}
		@media (max-width: 47.9375rem){
			margin-top: 1.6875rem;
		}
		
		p {
			margin-top: 1.5rem;
			@media (max-width: 63.9375rem) {
				margin-top: 2.25rem;
			}
			@media (max-width: 47.9375rem){
				margin-top: 0.625rem;
			}
		}
	}
	&__openbisea {
		margin-top: 2.5rem;
		@media (max-width: 63.9375rem) {
			margin-top: 2.25rem;
		}
		p {
			margin-top: 1.5rem;
			@media (max-width: 47.9375rem){
				margin-top: 0.625rem;
			}
		}
	}
	&__komodo {
		margin-top: 5rem;
		@media (max-width: 47.9375rem){
			margin-top: 1.5rem;
		}
		p {
			&:nth-child(2){
				margin-top: 1.5rem;
				@media (max-width: 47.9375rem){
					margin-top: 0.625rem;
				}
			}
			&:nth-child(3){
				margin-top: 3rem;
				@media (max-width: 47.9375rem){
					margin-top: 1.5rem;
				}
			}
			&:nth-child(4){
				margin-top: 3rem;
				@media (max-width: 47.9375rem){
					margin-top: 1.5rem;
				}
			}
		}
	}

	h2 {
		display: block;
		text-align: center;
		@media (max-width: 63.9375rem){
			br {
				display: none;
			}
		}
		span {
			&:first-child{
				color: #627EEA;
			}
			&:last-child{
				color: #EEB909;
			}
		}
	}

	&__body {
		p {
			margin-top: 6.3125rem;
			width: 35.5625rem;
			@media (max-width: 63.9375rem){
				margin-top: 3.3125rem;
				text-align: center;
				width: 100%;
			}
			@media (max-width: 47.9375rem){
				margin-top: 3.1875rem;
			}
		}
	}

	&__img {
		margin-top: 0.3125rem;
		margin-left: 12.625rem;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -4.875rem;
			left: -6.5625rem;
			width: 27.6875rem;
			height: 27.75rem;
			background: url('../img/pages/bridges-page/back4.svg') 0 0 / 100% 100% no-repeat;

			@media (max-width: 89.9375rem) {
				width: 26.625rem;
				height: 26.6875rem;
				top: -4.375rem;
				left: -5.875rem;
			}

			@media (max-width: 47.9375rem) {
				width: 26.875rem;
				height: 26.875rem;
				top: -4rem;
				left: -5.875rem;
			}

			@media (max-width: 29.9375rem) {
				width: 17.875rem;
				height: 18.125rem;
				top: -2.8125rem;
				left: -4.1875rem;
			}
		}
		@media (max-width: 89.9375rem){
			margin-left: 1.9375rem;
		}
		@media (max-width: 63.9375rem){
			margin-top: 3.625rem;
			margin-left: 0;
		}
		@media (max-width: 47.9375rem){
			margin-top: 1.9375rem;
		}
		@media (max-width: 29.9375rem){
			width: 8.6875rem;
			height: 12.3125rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	&__items {
		margin-top: 3.75rem;
		display: flex;
		justify-content: center;
		@media (max-width: 47.9375rem){
			margin-top: 1.5rem;
		}
	}
	&__row {
		display: flex;
		margin: 0 -0.9375rem;
		width: 100%;
		@media (max-width: 89.9375rem){
			justify-content: center;
			flex-wrap: wrap;
			row-gap: 1.875rem;
		}
		@media (max-width: 47.9375rem){
			row-gap: 0.875rem;
			margin: 0;
		}
	}

	&__item {
		flex: 0 1 33.333%;
		padding: 0 0.9375rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: 89.9375rem){
			flex: 0 1 23.125rem;
		}
		@media (max-width: 62rem){
			max-width: 50%;
		}
		@media (max-width: 47.9375rem){
			flex: 0 1 21.25rem;
			max-width: none;
		}
		@media (max-width: 29.9375rem){
			flex: 0 1 13.625rem;
		}

		@include ie(){
			@media (max-width: 89.9375rem){
				margin-bottom: 1.875rem;
			}
			@media (max-width: 47.9375rem){
				margin-bottom: 0.875rem;
			}
		}
	}

	&__icon {
		width: 6.875rem;
		height: 6.875rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 4rem;
		line-height: 4.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 50%;
		color: #FFFFFF;
		background: #EEB909;
		box-shadow: 0 0 2.5rem #EEB909;
		@media (max-width: 29.9375rem){
			width: 4.5rem;
			height: 4.5rem;
			font-size: 2.625rem;
			line-height: 3.1875rem;
		}
	}

	&__text {
		margin-top: 0.9375rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.188rem;
		display: flex;
		align-items: center;
		text-align: center;

		color: #F4F6F8;
		@media (max-width: 47.9375rem){
			font-size: 0.875rem;
			line-height: 1.0625rem;
			width: 100%;
		}
		@media (max-width: 29.9375rem){
			font-size: 0.625rem;
			line-height: 0.75rem;
		}

		@include ie(){
			align-self: stretch;
		}
	}
}


.bridges-page__work {}

.work-bridges-page {
	margin-top: 3.75rem;
	margin-bottom: 5rem;
	@media (max-width: 63.9375rem){
		margin-top: 4.1875rem;
		margin-bottom: 5.125rem;
	}
	@media (max-width: 47.9375rem){
		margin-top: 2.25rem;
		margin-bottom: 2.5rem;
	}
	&__container {}
	h2 {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	p {
		margin-top: 3rem;
		@media (max-width: 63.9375rem){
			margin-top: 2.25rem;
		}
		@media (max-width: 47.9375rem){
			margin-top: 1.5rem;
			&:first-child{
				margin-top: 2.25rem;
			}
		}
		@media (max-width: 29.9375rem){
			margin-top: 0.875rem;
		}
	}
	&__body {
		@media (max-width: 63.9375rem){
			display: flex;
			flex-direction: row;
		}
		@media (max-width: 47.9375rem){
			flex-direction: column;
		}
	}

	&__description {
		margin-top: 7.1875rem;
		width: 31.25rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.8125rem;
		color: #F4F6F8;
		@media (max-width: 63.9375rem){
			margin-top: 5.9375rem;
			width: 20.625rem;
		}
		@media (max-width: 47.9375rem){
			width: 18.75rem;
			margin-top: 4.75rem;
			font-size: 0.875rem;
			line-height: 1.0625rem;
			order: 2;
			text-align: center;
		}
		@media (max-width: 29.9375rem){
			width: 12.5rem;
			margin-top: 2.1875rem;
			font-size: 0.625rem;
			line-height: 0.75rem;
		}
		span {
			background: linear-gradient(90deg, #EB00FF 53%, #00DBC8 65.8%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;

			@include ie(){
				background: none;
				color: #EB00FF;
			}
		}
	}

	&__img {
		position: relative;
		margin-top: 2.8125rem;
		margin-right: 16.875rem;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			top: -5.5625rem;
			left: -5.125rem;
			width: 23.125rem;
			height: 24.25rem;
			background: url('../img/pages/bridges-page/back5.svg') 0 0 / 100% 100% no-repeat;

			@media (max-width: 89.9375rem) {
				width: 24.3125rem;
				height: 22.3125rem;
				top: -4.75rem;
				left: -5.5rem;
			}

			@media (max-width: 47.9375rem) {
				width: 22.8125rem;
				height: 26.875rem;
				top: -6.9375rem;
				left: -5rem;
			}

			@media (max-width: 29.9375rem) {
				width: 15.125rem;
				height: 18.125rem;
				top: -5.125rem;
				left: -3.4375rem;
			}
		}
		@media (max-width: 89.9375rem){
			margin-top: 2.5625rem;
			margin-right: 7.9375rem;
		}
		@media (max-width: 63.9375rem){
			margin-top: 2.1875rem;
			margin-right: 3.375rem;
		}
		@media (max-width: 47.9375rem){
			margin-top: 1.8125rem;
			margin-right: 0;
			order: 1;
		}
		@media (max-width: 29.9375rem){
			width: 8.3125rem;
			height: 8rem;
			margin-top: 1.5625rem;
			img {
				width: 100%;
				height: 100%;
			}
		}

	}

	&__items {
		margin-top: 4.5rem;

		@include ie(){
			margin-top: 4.5rem;
		}
		@media (max-width: 89.9375rem){
			display: flex;
			justify-content: center;
		}
		@media (max-width: 63.9375rem){
			margin-top: 3.125rem;
		}
		@media (max-width: 47.9375rem){
			margin-top: 0.625rem;
		}
		@media (max-width: 29.9375rem){
			margin-top: 1.5rem;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -0.9375rem;
		width: 100%;
		@media (max-width: 89.9375rem){
			justify-content: center;
			margin: 0;
			width: 37.5rem;
			flex-wrap: wrap;
			row-gap: 3.75rem;
		}
		@media (max-width: 47.9375rem){
			width: 16.875rem;
			row-gap: 0.875rem;
		}
		@media (max-width: 29.9375rem){
			width: 11.25rem;
			row-gap: 0.625rem;
		}
	}

	&__item {
		padding: 0 0.6rem;
		flex: 0 1 25%;
		@media (max-width: 89.9375rem){
			flex: 0 0 50%;
		}
		@media (max-width: 47.9375rem){
			flex: 1 1 100%;
			padding: 0;
		}

		@include ie(){
			@media (max-width: 89.9375rem){
				margin-bottom: 3.75rem;
				width: 50%;
				flex-basis: auto;
			}
			@media (max-width: 47.9375rem){
				margin-bottom: 0.875rem;
				width: 100%;
			}
			@media (max-width: 29.9375rem){
				margin-bottom: 0.625rem;
			}
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 6.25rem;
		height: 6.25rem;
		background: linear-gradient(180deg, #EB00FF 0%, #00DBC8 100%);
		box-shadow: 0 0 2.5rem #6F72E2;
		border-radius: 50%;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 4rem;
		line-height: 4.8125rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		@media (max-width: 29.9375rem){
			width: 4.125rem;
			height: 4.125rem;
			font-size: 2.625rem;
			line-height: 3.1875rem;
		}
	}

	&__text {
		margin-top: 0.9375rem;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.188rem;
		display: flex;
		align-items: center;
		text-align: center;
		color: #F4F6F8;
		@media (max-width: 47.9375rem){
			font-size: 0.875rem;
			line-height: 1.0625rem;
			margin-top: 3.125rem;
		}
		@media (max-width: 29.9375rem){
			margin-top: 0.875rem;
			font-size: 0.625rem;
			line-height: 0.75rem;
		}

		@include ie(){
			align-self: stretch;
		}
	}
}

