extends layouts/default
include helpers/mixins

block variables
	- const title = "AKRA"

block content
	.wrapper
		.bg
		.circle.circle1
		.circle.circle2
		.circle.circle3
		.circle.circle4
		.circle.circle5
		.circle.circle6
		.circle.circle7
		include ../blocks/modules/header/header

		.page
			include ../blocks/modules//hero/hero
			include ../blocks/modules//develop/develop
			include ../blocks/modules//mayning/mayning
			include ../blocks/modules//crowdfunding/crowdfunding
			include ../blocks/modules//block-video/block-video
			include ../blocks/modules//buy/buy
			include ../blocks/modules//bridges/bridges
			include ../blocks/modules//map/map
			include ../blocks/modules//presale/presale
			include ../blocks/modules//diagram/diagram


		include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")