.map
	.map__container.container 
		.map__title.general-title Карта развития
		.map__left.left-map 
			.left-map__items.map__items
				.left-map__item.map__item
					.left-map__item-line.map__item-line
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q3
							span 2021
						.left-map__text.map__item-text Основание проекта AKRA как универсальный денежный инструмент, (разработка логики экосистемы, разработка базы данных)
				.left-map__item.map__item
					.left-map__item-line.map__item-line
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text Создание Akra
				.left-map__item.map__item
					.left-map__item-line.map__item-line
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text Разработка web Akra Wallet v1 платежные системы для физических и юридических лиц
				.left-map__item.map__item
					.left-map__item-line.map__item-line
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text Запуск стратегических партнерских программ
				.left-map__item.map__item
					.left-map__item-line.map__item-line.line-yellow.line-yellow-third
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text Интеграция в Российскую компанию платежную систему Akra Wallet Merchant v1
				.left-map__item.map__item
					.left-map__item-line.map__item-line
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text Реализацией платежной системы фиатных платежей для физических и юридических лиц через выставление счета
				.left-map__item.map__item
					.left-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q3
							span 2021
						.left-map__text.map__item-text AKRA Майнинг по технологии Proof of Stake Стейкинг
				.left-map__item.map__item
					.left-map__item-line.map__item-line.line-yellow.line-yellow-holf
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q3
							span 2021
						.left-map__text.map__item-text Краудфандинговая площадка для инвесторов и заемщика
				.left-map__item.map__item
					.left-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.left-map__row.map__item-row 
						.left-map__date.map__item-date 
							span Q4
							span 2021
						.left-map__text.map__item-text  Разработкой мобильного приложения для IOS и Android

		.map__center 	
			img(src="img/svg/map/center.svg", alt="alt")
			img(src="img/svg/map/center1.svg", alt="alt")
			img(src="img/svg/map/center2.svg", alt="alt")

		.map__right.right-map
			.right-map__items.map__items
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Все токены будут обменяны один к одному на coin AKRA blockchain
						.right-map__date.map__item-date 
							span Q4
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-quarter
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Создание 13 глобальных офисов в качестве многоязычной поддержки и маркетинга
						.right-map__date.map__item-date 
							span Q4
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-quarter
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Частичная продажа токенов 3 этапа продаж. Коллаборации с лидерами мнений из СНГ, нацеленное построение комьюнити
						.right-map__date.map__item-date 
							span Q4
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Листинг на крупнейшей бирже криптовалют
						.right-map__date.map__item-date 
							span Q1
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-almost-half
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Листинг токена на Coinmarketcap, Coingecko. Первые листинги на централизованных биржах
						.right-map__date.map__item-date 
							span Q3
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-half
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Листинг токена на децентрализованной бирже Pancakeswap, Uniswap
						.right-map__date.map__item-date 
							span Q3
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-empty.line-yellow-empty
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Разработка Akra Wallet desktop для Windows, Mac, Linux
						.right-map__date.map__item-date 
							span Q3
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.right-map__row.map__item-row 
						.right-map__text.map__item-text Разработка Akra Wallet Плагин web browser
						.right-map__date.map__item-date 
							span Q4
							span 2022
				.right-map__item.map__item
					.right-map__item-line.map__item-line.line-yellow.line-yellow-empty
					.right-map__row.map__item-row 
						.right-map__text.map__item-text  Мосты между blockchain Binance Smart Chain и Ethereum
						.right-map__date.map__item-date 
							span Q4
							span 2022





