.mayning
	.mayning__container.container 
		.mayning__body
			.mayning__title.general-title 
				|AKRA Майнинг по 
				|технологии Proof of Stake 
				|Стейкинг
			.mayning__text.general-text.mayning__text-desktop 
				|Технология стейкинга (Staking) позволяет  
				|участникам сети объединяться в структуры  
				|и увеличивать количество монет AKRA, 
				|просто держа их в своем 
				|кошельке. Стейкинг работает на основе смарт-
				|контракта. Это майнинг нового поколения, 
				|доступный для всех и не требующий 
				|энергозатрат.
			.mayning__text.general-text.mayning__text-mobile 
				|Технология стейкинга (Staking) позволяет 
				br
				|участникам сети объединяться в структуры и 
				br
				|увеличивать количество монет AKRA, просто 
				br
				|держа их в своем кошельке. Стейкинг работает на 
				br
				|основе смарт-контракта. Это майнинг нового 
				br
				|поколения, доступный для всех и не требующий 
				br
				|энергозатрат.
			a.mayning__link.general-link(href="#") Подробнее
		.mayning__img 



