.buy
	.buy__container.container 
		.buy__body 
			.buy__title.general-title Купить легко и просто
			.buy__text.general-text Для заключения сделки требуется только электронный кошелек.
				br
				|Купить AKRA через Банковскую карту, выставить счет на Компанию, через криптовалюту.	
			a.buy__link.general-link(href="") Подробнее
		.buy__img 
			img(src="img/svg/buy/1.png", alt="alt")
