.diagram
	.diagram__container.container 
		.diagram__title.general-title Экономика токенов
		.diagram__text.general-text Ожидаемое первоначальное распределение
		.diagram__main
			.diagram__left.left-diagram  
				.left-diagram__items 
					.left-diagram__item.diagram__item.left-diagram__item1 
						.left-diagram__text 
							span Contributors Grant
							span 3% 36 month vesting
					.left-diagram__item.diagram__item.left-diagram__item2
						.left-diagram__text 
							span Foundation
							span 12% 36 month vesting
					.left-diagram__item.diagram__item.left-diagram__item3 
						.left-diagram__text 
							span Ecosystem Incentives & Parachain offering
							span 40.00% 36 month vesting

			.diagram__center 
				.diagram__img
					img(src="img/svg/diagram/center.svg", alt="alt")
					img(src="img/svg/diagram/center1.svg", alt="alt")
					img(src="img/svg/diagram/center2.svg", alt="alt")

			.diagram__right.right-diagram  
				.right-diagram__items 
					.right-diagram__item.diagram__item.right-diagram__item1 
						.right-diagram__text 
							span Coinlist Sale
							span 15.00% 3 options
					.right-diagram__item.diagram__item.right-diagram__item2 
						.right-diagram__text 
							span Private Sale
							span 2.5% 18month vesting
					.right-diagram__item.diagram__item.right-diagram__item3 
						.right-diagram__text 
							span Early Backers
							span 10.00% 36 month vesting
					.right-diagram__item.diagram__item.right-diagram__item4 
						.right-diagram__text 
							span Team
							span 10.00% 36 month vesting
					.right-diagram__item.diagram__item.right-diagram__item5 
						.right-diagram__text 
							span Marketing
							span 7.50% 36 month vesting

			.diagram__items-mobile 
				.diagram__item-mobile.diagram__item-mobile1
					.diagram__column-mobile.diagram__column-mobile1
						span Coinlist Sale
						span 15.00% 3 options
				.diagram__item-mobile.diagram__item-mobile2
					.diagram__column-mobile.diagram__column-mobile2
						span Private Sale
						span 2.5% 18month vesting
				.diagram__item-mobile.diagram__item-mobile3
					.diagram__column-mobile.diagram__column-mobile3
						span Early Backers
						span 10.00% 36 month vesting
				.diagram__item-mobile.diagram__item-mobile4
					.diagram__column-mobile.diagram__column-mobile4
						span Team
						span 10.00% 36 month vesting
				.diagram__item-mobile.diagram__item-mobile5
					.diagram__column-mobile.diagram__column-mobile5
						span Marketing
						span 7.50% 36 month vesting
				.diagram__item-mobile.diagram__item-mobile6
					.diagram__column-mobile.diagram__column-mobile6
						span Ecosystem Incentives & Parachain offering
						span 40.00% 36 month vesting
				.diagram__item-mobile.diagram__item-mobile7
					.diagram__column-mobile.diagram__column-mobile7
						span Foundation
						span 12% 36 month vesting
				.diagram__item-mobile.diagram__item-mobile8
					.diagram__column-mobile.diagram__column-mobile8
						span Contributors Grant
						span 3% 36 month vesting
