footer.footer
	.container.footer__container 
		.footer__logo 
			img(src="img/svg/logo.svg", alt="logo")
		.footer__menu.menu-footer
			ul.menu-footer__list
				li.menu-footer__item 
					a.menu-footer__link(href="#") Купить
				li.menu-footer__item.menu-footer__item-sell
					a.menu-footer__link(href="#") Продать
				li.menu-footer__item
					a.menu-footer__link(href="#") Майнинг
				li.menu-footer__item.menu-footer__item-kraud
					a.menu-footer__link(href="#") Краудфандинг

				li.menu-footer__item.menu-footer__item-robots
					a.menu-footer__link(href="#") Futures robots
				li.menu-footer__item.menu-footer__item-com
					a.menu-footer__link(href="#") Community
				li.menu-footer__item.menu-footer__item-white
					a.menu-footer__link(href="#") White Paper
				li.menu-footer__item.menu-footer__item-faq
					a.menu-footer__link(href="#") FAQ

				li.menu-footer__item.menu-footer__item-cont 
					a.menu-footer__link(href="#") Контакты
				li.menu-footer__item.menu-footer__item-ref
					a.menu-footer__link(href="#").menu-footer__link-ref  Реферальная программа

		.footer__soc
			a.footer__telegram(href="#") 
				img(src="img/svg/telegram.svg", alt="alt")
				span Telegram
			a.footer__email-support(href="#") 
				span @AKRA_support
			a.footer__email(href="#") 
				span info@akra.co.in
