.block-video 
	.block-video__container.container 
		.block-video-wrapper#block-video-wrapper
			video#block-video__player.block-video__player(controls="controls")
				source(src="video/sample.mp4" type="video/mp4")
			.block-video__img.play
			.block-video__play-btn
				img(src="img/svg/block-video/btn.svg", alt="alt")


		.block-video__frame
			.block-video__text
				.block-video__text-top Сервис для доступного криптоинвестирования AKRA Futures robots разработан и поддерживается командой квалифицированных алготрейдеров.
				.block-video__text-bottom AKRA Futures robots представляет собой платформу, где инвесторы вкладывают свои средства в автоматическую фьючерсную торговлю криптовалютой. По сравнению с классическими схемами инвестирования, включая высокорисковую самостоятельную биржевую торговлю, инвестиции в торговых роботов гораздо привлекательнее по многим причинам.
				a.block-video__link.general-link(href="") Подробнее

