.bridges
	.bridges__container.container 
		.bridges__img 
			img(src="img/svg/bridges/1.png", alt="alt")
		.bridges__body 
			.bridges__title.general-title 
				|Мосты между Blockchain 
				br
				|Binance Smart Chain и 
				br
				|Ethereum
			.bridges__text.general-text Мосты закрывают пробелы между различными экосистемами, это один из эффективных и инновационных методов синхронного развития Blockchain. Пользователь теперь может отправлять wrapped токены на Blockchain Ethereum, а оттуда в сеть Binance Smart Chain.
			a.bridges__link.general-link(href="") Подробнее
